.footer-navigation
    .inner-block
        .footer-navigation__cat
            .footer-navigation__cat-title На праздник
            ul.footer-navigation__cat-list
                li.footer-navigation__cat-list-item
                    a(href='#').footer-navigation__cat-link Новый год
                li.footer-navigation__cat-list-item
                    a(href='#').footer-navigation__cat-link Рождество
                li.footer-navigation__cat-list-item
                    a(href='#').footer-navigation__cat-link 23 февраля
                li.footer-navigation__cat-list-item
                    a(href='#').footer-navigation__cat-link День Святого Валентина
                li.footer-navigation__cat-list-item
                    a(href='#').footer-navigation__cat-link 8 марта
                li.footer-navigation__cat-list-item
                    a(href='#').footer-navigation__cat-link День рождения
                li.footer-navigation__cat-list-item
                    a(href='#').footer-navigation__cat-link Свидание
                li.footer-navigation__cat-list-item
                    a(href='#').footer-navigation__cat-link Свадьба
                li.footer-navigation__cat-list-item
                    a(href='#').footer-navigation__cat-link Рождение ребенка
        .footer-navigation__cat
            .footer-navigation__cat-title Подарок для
            ul.footer-navigation__cat-list
                li.footer-navigation__cat-list-item
                    a(href='#').footer-navigation__cat-link Сотрудников, коллег, начальника
                li.footer-navigation__cat-list-item
                    a(href='#').footer-navigation__cat-link Дамы
                li.footer-navigation__cat-list-item
                    a(href='#').footer-navigation__cat-link Мужчины
                li.footer-navigation__cat-list-item
                    a(href='#').footer-navigation__cat-link Ребенка
                li.footer-navigation__cat-list-item
                    a(href='#').footer-navigation__cat-link Молодоженов
                li.footer-navigation__cat-list-item
                    a(href='#').footer-navigation__cat-link Новоселов
        .footer-navigation__cat
            .footer-navigation__cat-title Бренды
            ul.footer-navigation__cat-list
                li.footer-navigation__cat-list-item
                    a(href='#').footer-navigation__cat-link Мвидео
                li.footer-navigation__cat-list-item
                    a(href='#').footer-navigation__cat-link Евросеть
                li.footer-navigation__cat-list-item
                    a(href='#').footer-navigation__cat-link Экспедиция
                li.footer-navigation__cat-list-item
                    a(href='#').footer-navigation__cat-link Reebok
                li.footer-navigation__cat-list-item
                    a(href='#').footer-navigation__cat-link Royal Tailors
                li.footer-navigation__cat-list-item
                    a(href='#').footer-navigation__cat-link Sapato.ru
                li.footer-navigation__cat-list-item
                    a(href='#').footer-navigation__cat-link Sela
                li.footer-navigation__cat-list-item
                    a(href='#').footer-navigation__cat-link Watchexpert
                li.footer-navigation__cat-list-item.footer-navigation__cat-list-item--special
                    a(href='#').footer-navigation__cat-link Все бренды
        .footer-navigation__cat
            .footer-navigation__cat-title Товары и услуги
            ul.footer-navigation__cat-list
                li.footer-navigation__cat-list-item
                    a(href='#').footer-navigation__cat-link Новый год
                li.footer-navigation__cat-list-item
                    a(href='#').footer-navigation__cat-link Рождество
                li.footer-navigation__cat-list-item
                    a(href='#').footer-navigation__cat-link 23 февраля
                li.footer-navigation__cat-list-item
                    a(href='#').footer-navigation__cat-link День Святого Валентина
                li.footer-navigation__cat-list-item
                    a(href='#').footer-navigation__cat-link 8 марта
                li.footer-navigation__cat-list-item
                    a(href='#').footer-navigation__cat-link День рождения
                li.footer-navigation__cat-list-item
                    a(href='#').footer-navigation__cat-link Свидание
                li.footer-navigation__cat-list-item
                    a(href='#').footer-navigation__cat-link Свадьба
                li.footer-navigation__cat-list-item
                    a(href='#').footer-navigation__cat-link Рождение ребенка
