.how-it-works
    h2.how-it-works__title
        span Как работает сервис
    .how-it-works__icons
        .how-it-works__icons-item
            .ico-wrap
                i(data-ico="pc").ico
                    svg.ico__svg
                        use(xlink:href="#pc")
            .how-it-works__icons-txt выбрать подарок
        .how-it-works__icons-item
            .ico-wrap
                i(data-ico="bag").ico
                    svg.ico__svg
                        use(xlink:href="#bag")
            .how-it-works__icons-txt добавить открытку <br/>с поздравлением, <br/>выбрать подарочную <br/>упаковку
        .how-it-works__icons-item
            .ico-wrap
                i(data-ico="wallet").ico
                    svg.ico__svg
                        use(xlink:href="#wallet")
            .how-it-works__icons-txt получить и оплатить подарок <br/>или заказать <br/>с доставкой получателю <br/>и оплатить подарок
        .how-it-works__icons-item
            .ico-wrap
                i(data-ico="hand").ico
                    svg.ico__svg
                        use(xlink:href="#hand")
            .how-it-works__icons-txt счастливый <br/>получатель получает  <br/>то, что он и ожидал
        .how-it-works__icons-item
            .ico-wrap
                i(data-ico="smile").ico
                    svg.ico__svg
                        use(xlink:href="#smile")
            .how-it-works__icons-txt все счастливы :)