.intro
    .inner-block
        h1
            | Магазин подарочных карт
            br
            | <span class='thin'>и сертификатов</span> Paradox
        p
            | Подарочные карты и сертификаты известных брендов и торговых сетей в одном интернет-магазине.
            br
            | Выбирайте и дарите с удовольствием!