.map
    .map__title Самовывоз
    script(type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=Oktyz5FqgsXMWbSplJS-01BfHEhRDHdk&width=1170&height=490&lang=ru_RU&sourceType=constructor")