.product-card
    .product-card__col
        .product
            .product__pic
                img(src='img/temp/temp_08.jpg' width=286).product__pic-img
            .product__cost
                .product__cost-txt Номинал:
                .product__cost-value 10 000 - 30 000 <span class="priceRu">руб.</span>
    .product-card__col
        form
            .product-card__params
                .product-card__params__face-value
                    .form-grp
                        label.form-label-hid Выбрать номинал
                        select.form-ctrl
                            option(data-currency) 5000
                            option(data-currency) 10000
                            option(data-currency) 15000
                            option(data-currency) 20000
                            option(data-currency) 25000
                            option(data-currency) 30000
                //.product-card__params__custom-face-value
                    .form-grp
                        label.form-label-hid Свой номинал
                        input(type='text' placeholder='Свой номинал').form-ctrl
                .product-card__params__count
                    .form-grp
                        label.form-label-hid Свой номинал
                        input(type='number' min="1" max="20" step="2" pattern="[0-9]*" value='1' readonly).form-ctrl
                .product-card__params__quick
                    a.apseudo Купить в 1 клик
                .product-card__params__button
                    button.btn
                        span.btn__txt В корзину

            //h3 Подарочное Оформление
            .product-card__gift
                .product-card__gift-presets
                    .form-grp
                        label.form-label-hid Выбрать подарочную упаковку
                        select(placeholder='Выбрать подарочную упаковку').form-ctrl
                            option(data-img='img/temp/temp_09.jpg' data-price='200') Красная коробка с золотым бантом
                            option(data-img='img/temp/temp_10.jpg' data-price='220') Синяя коробка с золотым бантом
                            option(data-img='img/temp/temp_11.jpg' data-price='240') Фиолетовая коробка с золотым бантом
                    //.form-grp
                        label.form-label-hid Выбрать открытку
                        select(placeholder='Выбрать открытку').form-ctrl
                            option Красная
                            option Синяя
                            option Фиолетовая
                //.product-card__gift-text
                    .form-grp
                        label.form-label-hid Имя получателя
                        input(type='text' placeholder='Имя получателя ').form-ctrl
                    .form-grp
                        label.form-label-hid Текст поздравления
                        textarea(placeholder='Здесь вы можете добавить текст поздравления').form-ctrl
                //.product-card__gift-ctrl
                    span.apseudo
                        i(data-ico="edit").ico.ico--s
                        | Редактировать
            p Подарочная карта это универсальный подарок на все случаи жизни, особенно если этот случай — выбор косметики в «Л’Этуаль».
            .product-card__footer
                .product-card__footer-delivery
                    i(data-ico="map-pin").ico.ico--m
                        svg.ico__svg
                            use(xlink:href="#map-pin")
                    | Самовывоз
                .product-card__footer-stations
                    img(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAAAMCAMAAADlLUv7AAABEVBMVEX///8AwfuDSzAAfr0Bf70DgL4Xx/sFwvsAuPmogW6FZVKKYUuOXkaFTjPj+P/Z9v5L1Pzl8vjg7/fy7erw6eZLpNEZi8SbbVeOW0Ld9/7C8P6u6/7w+f2L4/2G4v153v1i2f04z/wuzPwAvvsAvPvb7fbZ7PUAs/UAsPHC4O8ArO4AqOoApOXt5uKLxOEYteEAoOHt5OCGwuAAnN15u9wdsdoAmNhisNcjrdLh1M04m8wqqcoulskAiMgVicMwpMLYxr03n7k+mrBElafHraFKkaDEqp1Pjpq+oJKzkYB8a11/aFh+W0fl+f/Y9v5Q1Pz49PMHvfMJvPGx2Ouq1OlQptIKg8BWho1bgISgdWCIUjgs0au0AAAA8UlEQVQoz2OgGhA0FwuzCkYT9FVgY1eURhUT9uSJinTA0C8kxgwCeiiCfGyMICCLLCbCwwQCLugGiDLbaAqZMLOqIgsKMCpJScozsvMjiXEyiVuKeDDx6qLql2FlVQMbY4QsyM7oBzZGDiEWwMtkCDbGDSbCAgHMdiCOEbOtmbGBjraWhjoHh4oyIxtIUI4xUN/Uwtre0cnZ1T2CSQIk5sbk4+XNxcXNzQMzAOL4UDQDGEGO92cMQhgQzsSkC3IB3ADkMBAEhoEaehjwYQkDYWAYGBITC5LYYkECGguY6cCO1SoETZAPazqQ4BV3YBg8AAAZdR2U+3XjMwAAAABJRU5ErkJggg==")
                .product-card__footer-route
                    .product-card__footer-route-trigger(tabindex=0)
                        | ТРЦ «Европейский»
                        .product-card__footer-route-info
                            .product-card__footer-route-info-inner
                                p г. Москва, площадь Киевского вокзала, 2, ст. метро «Киевская»
                                a(href='') Подробнее &#9658;
                .product-card__footer-present
                    i(data-ico="thumb").ico.ico--m
                        svg.ico__svg
                            use(xlink:href="#thumb")
                    | Хочу в подарок
                .product-card__footer-social
                    .social-links
                        span.social-links__item
                            i(data-ico="fb").ico.ico--s
                        span.social-links__item
                            i(data-ico="vk").ico.ico--s

    include information.jade