.search-bar
    form.search-bar__form
        .search-bar__form-text
            .form-grp
                label.form-label-hid Что ищем?
                input(type='text' placeholder='Что ищем?').form-ctrl
        .search-bar__form-select
            .form-grp
                label.form-label-hid Категории
                select(placeholder='Категории').form-ctrl
                    option Новый год
                    option Рождество
                    option 23 февраля
                    option День Святого Валентина
                    option 8 марта
                    option День рождения
                    option Свидание
                    option Свадьба
                    option Рождение ребенка
                    option Сотрудников, коллег, начальника
                    option Дамы
                    option Мужчины
                    option Ребенка
                    option Молодоженов
                    option Новоселов
        .search-bar__form-range
            .form-grp
                label.form-label Цена
                .form-range
                    input(type='range')
        .search-bar__form-button
            button.btn
                span.btn__txt Искать