.similar
    h2 Похожие подарки
    .similar__carousel
        .owl-carousel(data-items='4' data-nav data-margin='0')
            .similar__item
                a(href='#').product
                    .product__marks
                        .product__marks-item.product__marks-item--new Новинка
                    .product__pic
                        img(src='img/temp/temp_02.jpg').product__pic-img
                    .product__desc
                        .product__title iTunes
                        .product__info.txt-ellipsis Подарочная карта это универсальный подарок на все случаи жизни, особенно если этот случай - карта это универсальный подарок на все случаи жизни
                    .product__cost
                        .product__cost-value 10 000 - 30 000 <span class="priceRu">руб.</span>
                        .product__cost-txt Номинал
            .similar__item
                a(href='#').product
                    .product__pic
                        img(src='img/temp/temp_02.jpg').product__pic-img
                    .product__desc
                        .product__title МВидео
                        .product__info.txt-ellipsis Подарочная карта это универсальный подарок на все случаи жизни, особенно если этот случай - карта это универсальный подарок на все случаи жизни
                    .product__cost
                        .product__cost-value 10 000 - 30 000 <span class="priceRu">руб.</span>
                        .product__cost-txt Номинал
            .similar__item
                a(href='#').product
                    .product__marks
                        .product__marks-item.product__marks-item--new Новинка
                        .product__marks-item.product__marks-item--rec Рекомендуем
                    .product__pic
                        img(src='img/temp/temp_02.jpg').product__pic-img
                    .product__desc
                        .product__title Эльдорадо
                        .product__info.txt-ellipsis Подарочная карта это универсальный подарок на все случаи жизни, особенно если этот случай - карта это универсальный подарок на все случаи жизни
                    .product__cost
                        .product__cost-value 10 000 <span class="priceRu">руб.</span>
                        .product__cost-txt Номинал
            .similar__item
                a(href='#').product
                    .product__marks
                        .product__marks-item.product__marks-item--top хит продаж
                    .product__pic
                        img(src='img/temp/temp_02.jpg').product__pic-img
                    .product__desc
                        .product__title Экспедиция
                        .product__info.txt-ellipsis Подарочная карта это универсальный подарок на все случаи жизни, особенно если этот случай - карта это универсальный подарок на все случаи жизни
                    .product__cost
                        .product__cost-value 10 000 - 30 000 <span class="priceRu">руб.</span>
                        .product__cost-txt Номинал
            .similar__item
                a(href='#').product
                    .product__marks
                        .product__marks-item.product__marks-item--new Новинка
                    .product__pic
                        img(src='img/temp/temp_02.jpg').product__pic-img
                    .product__desc
                        .product__title iTunes
                        .product__info.txt-ellipsis Подарочная карта это универсальный подарок на все случаи жизни, особенно если этот случай - карта это универсальный подарок на все случаи жизни
                    .product__cost
                        .product__cost-value 10 000 - 30 000 <span class="priceRu">руб.</span>
                        .product__cost-txt Номинал
            .similar__item
                a(href='#').product
                    .product__pic
                        img(src='img/temp/temp_02.jpg').product__pic-img
                    .product__desc
                        .product__title МВидео
                        .product__info.txt-ellipsis Подарочная карта это универсальный подарок на все случаи жизни, особенно если этот случай - карта это универсальный подарок на все случаи жизни
                    .product__cost
                        .product__cost-value 10 000 - 30 000 <span class="priceRu">руб.</span>
                        .product__cost-txt Номинал
            .similar__item
                a(href='#').product
                    .product__marks
                        .product__marks-item.product__marks-item--new Новинка
                        .product__marks-item.product__marks-item--rec Рекомендуем
                    .product__pic
                        img(src='img/temp/temp_02.jpg').product__pic-img
                    .product__desc
                        .product__title Эльдорадо
                        .product__info.txt-ellipsis Подарочная карта это универсальный подарок на все случаи жизни, особенно если этот случай - карта это универсальный подарок на все случаи жизни
                    .product__cost
                        .product__cost-value 10 000 <span class="priceRu">руб.</span>
                        .product__cost-txt Номинал
            .similar__item
                a(href='#').product
                    .product__marks
                        .product__marks-item.product__marks-item--top хит продаж
                    .product__pic
                        img(src='img/temp/temp_02.jpg').product__pic-img
                    .product__desc
                        .product__title Экспедиция
                        .product__info.txt-ellipsis Подарочная карта это универсальный подарок на все случаи жизни, особенно если этот случай - карта это универсальный подарок на все случаи жизни
                    .product__cost
                        .product__cost-value 10 000 - 30 000 <span class="priceRu">руб.</span>
                        .product__cost-txt Номинал
