head
    meta(charset='UTF-8')
    title Paradox
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name='viewport', content='width=1200')
    meta(name="format-detection", content="telephone=no")
    //link(rel="icon", type="image/x-icon", href="img/favicon.ico")
    <!-- build:js-load -->
    script(src='js/load.js')
    <!-- endbuild -->
    <!-- build:css -->
    link(rel='stylesheet' href='css/main.css')
    <!-- endbuild -->