nav.page-nav
    a.page-nav_link.page-nav_link--current(href='#') Каталог
    a.page-nav_link(href='#') Способ оплаты
    a.page-nav_link(href='#') Доставка
    a.page-nav_link(href='#') Сервис
    a.page-nav_link(href='#') Обратная связь
    include basket.jade
