body {
  font-family:      @baseFont-Family;
  font-size:        @baseFont-Size;
  line-height:      @baseLine-Height;
  cursor:           @baseCursor;
  color:            @baseColor;
  text-size-adjust: none;
}

h1, .h1 {
  font-size: 3.8666666666666667em;
  line-height: 1.206896551724138;
  margin-top: 0;
  margin-bottom: 0.5689655172413793em;
  font-weight: bold;
  text-align: center;

  .thin {
    font-weight: 200;
  }
  + h2, + .h2 {
    margin-top: 1.1em;
  }
}

h2, .h2 {
  font-size: 2em;
  line-height: 1.2;
  font-weight: bold;
  margin-top: 1.3666666666666667em;
  margin-bottom: 0.43333333333333335em;
  text-align: center;
}
h3, .h3 {
  font-size: 1.2em;
  line-height: 1.3333333333333333;
  font-weight: bold;
  margin-top: 2.5em;
  margin-bottom: 0.7777777777777777em;
}

h4, .h4 {
  font-size: 1em;
  line-height: 1.2;
  font-weight: bold;
  margin-top: 2.466666666666667em;
  margin-bottom: 1.1333333333333333em;
}

p {
  margin-top: 0;
  margin-bottom: 1.6em;
}

ul {
  margin: 1.1333333333333333em 0;
  padding: 0;
  padding-left: 0.6666666666666666em;
  list-style: none;
  li {
    position: relative;

    &:before {
      content: '\00B7';
      position: absolute;
      margin-left: -10px;
      font-family: 'Trebuchet MS';
      font-weight: bold;
    }
  }
}

ol {
  margin: 1.1333333333333333em 0;
  padding: 0;
  padding-left: 1.3333333333333333em;
  list-style: none;
  counter-reset: list;
  li {
    &:before {
      counter-increment: list;
      content: counter(list) '.';
      position: absolute;
      font-weight: bold;
      margin-left: -20px;
    }
  }
}

small, .small {
  font-size: 0.8em;
  line-height: 1.5;
}
big, .big {
  font-size: 1.2em;
  line-height: 1.3333333333333333;
}
.txt-imp {
  font-size: 1.2em;
  line-height: 1.6666666666666665;
  font-weight: bold;
  border-left: 0.38888888888888884em solid #77c01d;
  margin: 2.888888888888889em 0;
  padding: 0 0 0 1.8888888888888888em
}
.txt-right {
  text-align: right;
}
.txt-center {
  text-align: center;
}
.txt-muted {
  color: #9c9c9c;
}
blockquote {
  margin: 2.333333333333333em 2.2222222222222223em;
  padding: 0;

  font-family: @secondFont-Family;
  font-size: 1.2em;
  line-height: 1.6666666666666665;
  font-style: italic;

  .title {
    display: block;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.611111111111111em;
  }

  .content {
    &:before {
      content: '«';
      margin-left: -0.9523809523809523em;
    }
    &:after {
      content: '»';
      margin-left: 0.47619047619047616em;
    }
    &:before, &:after {
      color: #d0d0d0;
      font-size: 2.333333333333333em;
      font-weight: bold;
      font-style: normal;
      line-height: 0.5714285714285714;
      position: absolute;
    }
  }
}
figure {
  margin: 3.6em 0 3em;
  img {
    vertical-align: top;
  }
  .owl-carousel & {
    margin-top: 0;
    margin-bottom: 0;
  }
}
figcaption {
  font-family: @secondFont-Family;
  font-style: italic;
  font-size: 0.9333333333333333em;
  line-height: 1.357142857142857;
  color: #9c9c9c;
  margin-top: 1em;
  margin-bottom: 0.8571428571428571em;

}

a {
  text-decoration: @linkText-Decoration;
  color: @linkColor;
  &:hover {
    color: @linkColor--HVR;
  }
}
.apseudo {
  color: #00a5e2;
  cursor: pointer;
  text-decoration: underline dotted;
  &:hover {
    color: @linkColor--HVR;
  }
}

hr {
  border: none;
  border-top: 1px solid #9c9c9c;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  width: 112px;
  margin-left: auto;
  margin-right: auto;
}
table {
  width: 100%;
  border-spacing: 0;
  background-color: #fff;
  margin-bottom: 2.6666666666666665em;

  thead {
    background-color: #77c01d;
  }
  th {
    color: #fff;
    text-align: left;
    padding: 0 0 0 3.3333333333333335em;
    height: 48px;

  }
  td {
    padding: 0.6666666666666666em 0 0.6666666666666666em 3.3333333333333335em;
    border-bottom: 2px solid #fbfbf9;
    font-family: Arial, "Helvetica Neue", Helvetica,  sans-serif;
  }
  .title {
    background-color: #fcfcfb;
    text-align: center;
    font-weight: bold;
    height: 58px;
    font-family: @baseFont-Family;
  }
}
body .video {
  position: relative;
  height: 0;
  margin-top: 3.6em;

  &[data-ratio='16x9'] {
    padding-bottom: 56.25%;
  }
  &[data-ratio='4x3'] {
    padding-bottom: 75%;
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
}

.priceRu {
  font-family: "Rouble";
  letter-spacing: -0.0357142em;
  text-indent: -0.21428em;
}
.txt-mute {
  color: #aaaaaa;
}
.expand-txt {
  display: none;

  &--expanded {
    display: inline;
  }
}