doctype html
html(lang="ru").no-js
    include inc/head.jade
    body
        .page-wrap
            include inc/header.jade
            main.page-main
                .inner-block
                    header.catalog-header
                        include components/breadcrumbs.jade
                        h1 Каталог подарков

                        include components/sort.jade

                    .filter_catalog
                        .filter
                            form.filter__form
                                .form-checkbox.form-checkbox--right
                                    input(type='checkbox' id='filter_01').form-checkbox__input
                                    span.form-checkbox__txt
                                        label(for='filter_01') Подарочные карты
                                            span.form-checkbox__ico
                                                i(data-ico="checkbox").ico.ico--s
                                                    svg.ico__svg
                                                        use(xlink:href="#checkbox") .form-checkbox
                                .form-checkbox.form-checkbox--right
                                    input(type='checkbox' id='filter_02').form-checkbox__input
                                    span.form-checkbox__txt
                                        label(for='filter_02') Подарочные сертификаты
                                            span.form-checkbox__ico
                                                i(data-ico="checkbox").ico.ico--s
                                                    svg.ico__svg
                                                        use(xlink:href="#checkbox")
                                .filter__grp
                                    .filter__grp-title Цена
                                    .filter__grp-content
                                        .form-grp
                                            label.form-label-hid Цена
                                            .form-range
                                                input(type='range')
                                .filter__grp
                                    .filter__grp-title Кому
                                    .filter__grp-content
                                        .form-checkbox
                                            input(type='checkbox' id='filter_03').form-checkbox__input
                                            span.form-checkbox__txt
                                                label(for='filter_03') Дамы
                                                    span.form-checkbox__ico
                                                        i(data-ico="checkbox").ico.ico--s
                                                            svg.ico__svg
                                                                use(xlink:href="#checkbox")
                                        .form-checkbox
                                            input(type='checkbox' id='filter_04').form-checkbox__input
                                            span.form-checkbox__txt
                                                label(for='filter_04') Мужчины
                                                    span.form-checkbox__ico
                                                        i(data-ico="checkbox").ico.ico--s
                                                            svg.ico__svg
                                                                use(xlink:href="#checkbox")
                                        .form-checkbox
                                            input(type='checkbox' id='filter_05').form-checkbox__input
                                            span.form-checkbox__txt
                                                label(for='filter_05') Ребенка
                                                    span.form-checkbox__ico
                                                        i(data-ico="checkbox").ico.ico--s
                                                            svg.ico__svg
                                                                use(xlink:href="#checkbox")
                                        .form-checkbox
                                            input(type='checkbox' id='filter_06').form-checkbox__input
                                            span.form-checkbox__txt
                                                label(for='filter_06') Молодоженов
                                                    span.form-checkbox__ico
                                                        i(data-ico="checkbox").ico.ico--s
                                                            svg.ico__svg
                                                                use(xlink:href="#checkbox")
                                        .form-checkbox
                                            input(type='checkbox' id='filter_07').form-checkbox__input
                                            span.form-checkbox__txt
                                                label(for='filter_07') Новоселов
                                                    span.form-checkbox__ico
                                                        i(data-ico="checkbox").ico.ico--s
                                                            svg.ico__svg
                                                                use(xlink:href="#checkbox")



                                .filter__grp
                                    .filter__grp-title Повод
                                    .filter__grp-content
                                        .form-checkbox
                                            input(type='checkbox' id='filter_08').form-checkbox__input
                                            span.form-checkbox__txt
                                                label(for='filter_08') Новый год
                                                    span.form-checkbox__ico
                                                        i(data-ico="checkbox").ico.ico--s
                                                            svg.ico__svg
                                                                use(xlink:href="#checkbox")
                                        .form-checkbox
                                            input(type='checkbox' id='filter_09').form-checkbox__input
                                            span.form-checkbox__txt
                                                label(for='filter_09') Рождество
                                                    span.form-checkbox__ico
                                                        i(data-ico="checkbox").ico.ico--s
                                                            svg.ico__svg
                                                                use(xlink:href="#checkbox")
                                        .form-checkbox
                                            input(type='checkbox' id='filter_10').form-checkbox__input
                                            span.form-checkbox__txt
                                                label(for='filter_10') 23 февраля
                                                    span.form-checkbox__ico
                                                        i(data-ico="checkbox").ico.ico--s
                                                            svg.ico__svg
                                                                use(xlink:href="#checkbox")
                                        .form-checkbox
                                            input(type='checkbox' id='filter_11').form-checkbox__input
                                            span.form-checkbox__txt
                                                label(for='filter_11') День Святого Валентина
                                                    span.form-checkbox__ico
                                                        i(data-ico="checkbox").ico.ico--s
                                                            svg.ico__svg
                                                                use(xlink:href="#checkbox")
                                        .form-checkbox
                                            input(type='checkbox' id='filter_12').form-checkbox__input
                                            span.form-checkbox__txt
                                                label(for='filter_12') Свадьба
                                                    span.form-checkbox__ico
                                                        i(data-ico="checkbox").ico.ico--s
                                                            svg.ico__svg
                                                                use(xlink:href="#checkbox")
                                        .form-checkbox
                                            input(type='checkbox' id='filter_13').form-checkbox__input
                                            span.form-checkbox__txt
                                                label(for='filter_13') Свидание
                                                    span.form-checkbox__ico
                                                        i(data-ico="checkbox").ico.ico--s
                                                            svg.ico__svg
                                                                use(xlink:href="#checkbox")
                                        .form-checkbox
                                            input(type='checkbox' id='filter_14').form-checkbox__input
                                            span.form-checkbox__txt
                                                label(for='filter_14') День рождения
                                                    span.form-checkbox__ico
                                                        i(data-ico="checkbox").ico.ico--s
                                                            svg.ico__svg
                                                                use(xlink:href="#checkbox")



                                .filter__grp
                                    .filter__grp-title Бренд
                                    .filter__grp-content(id='brands')
                                        .form-grp.filter--search
                                            label.form-label-hid Поиск
                                            input(type='text').form-ctrl.search
                                            button(type='submit').form-ctrl
                                                i(data-ico="search").ico.ico--s
                                                    svg.ico__svg
                                                        use(xlink:href="#search")
                                        .filter__search-content.list
                                            .form-checkbox
                                                input(type='checkbox' id='filter_15').form-checkbox__input
                                                span.form-checkbox__txt
                                                    label(for='filter_15')
                                                        span.brand-title Экспедиция
                                                        span.form-checkbox__ico
                                                            i(data-ico="checkbox").ico.ico--s
                                                                svg.ico__svg
                                                                    use(xlink:href="#checkbox")
                                            .form-checkbox
                                                input(type='checkbox' id='filter_16').form-checkbox__input
                                                span.form-checkbox__txt
                                                    label(for='filter_16')
                                                        span.brand-title Lamoda
                                                        span.form-checkbox__ico
                                                            i(data-ico="checkbox").ico.ico--s
                                                                svg.ico__svg
                                                                    use(xlink:href="#checkbox")
                                            .form-checkbox
                                                input(type='checkbox' id='filter_17').form-checkbox__input
                                                span.form-checkbox__txt
                                                    label(for='filter_17')
                                                        span.brand-title iTunes
                                                        span.form-checkbox__ico
                                                            i(data-ico="checkbox").ico.ico--s
                                                                svg.ico__svg
                                                                    use(xlink:href="#checkbox")
                                            .form-checkbox
                                                input(type='checkbox' id='filter_18').form-checkbox__input
                                                span.form-checkbox__txt
                                                    label(for='filter_18')
                                                        span.brand-title Евросеть
                                                        span.form-checkbox__ico
                                                            i(data-ico="checkbox").ico.ico--s
                                                                svg.ico__svg
                                                                    use(xlink:href="#checkbox")
                                            .form-checkbox
                                                input(type='checkbox' id='filter_19').form-checkbox__input
                                                span.form-checkbox__txt
                                                    label(for='filter_19')
                                                        span.brand-title Мвидео
                                                        span.form-checkbox__ico
                                                            i(data-ico="checkbox").ico.ico--s
                                                                svg.ico__svg
                                                                    use(xlink:href="#checkbox")
                                .filter__grp
                                    .filter__grp-title Категории
                                    .filter__grp-content
                                        .form-checkbox
                                            input(type='checkbox' id='filter_20').form-checkbox__input
                                            span.form-checkbox__txt
                                                label(for='filter_20') Экспедиция
                                                    span.form-checkbox__ico
                                                        i(data-ico="checkbox").ico.ico--s
                                                            svg.ico__svg
                                                                use(xlink:href="#checkbox")
                                        .form-checkbox
                                            input(type='checkbox' id='filter_21').form-checkbox__input
                                            span.form-checkbox__txt
                                                label(for='filter_21') Lamoda
                                                    span.form-checkbox__ico
                                                        i(data-ico="checkbox").ico.ico--s
                                                            svg.ico__svg
                                                                use(xlink:href="#checkbox")

                        .catalog
                            .catalog__item
                                a(href='#').product
                                    .product__marks
                                        .product__marks-item.product__marks-item--new Новинка
                                    .product__pic
                                        img(src='img/temp/temp_02.jpg').product__pic-img
                                    .product__desc
                                        .product__title iTunes
                                        .product__info.txt-ellipsis Подарочная карта это универсальный подарок на все случаи жизни, особенно если этот случай - карта это универсальный подарок на все случаи жизни
                                    .product__cost
                                        .product__cost-value 10 000 - 30 000 <span class="priceRu">руб.</span>
                                        .product__cost-txt Номинал
                            .catalog__item
                                a(href='#').product
                                    .product__pic
                                        img(src='img/temp/temp_02.jpg').product__pic-img
                                    .product__desc
                                        .product__title МВидео
                                        .product__info.txt-ellipsis Подарочная карта это универсальный подарок на все случаи жизни, особенно если этот случай - карта это универсальный подарок на все случаи жизни
                                    .product__cost
                                        .product__cost-value 10 000 - 30 000 <span class="priceRu">руб.</span>
                                        .product__cost-txt Номинал
                            .catalog__item
                                a(href='#').product
                                    .product__marks
                                        .product__marks-item.product__marks-item--new Новинка
                                        .product__marks-item.product__marks-item--rec Рекомендуем
                                    .product__pic
                                        img(src='img/temp/temp_02.jpg').product__pic-img
                                    .product__desc
                                        .product__title Эльдорадо
                                        .product__info.txt-ellipsis Подарочная карта это универсальный подарок на все случаи жизни, особенно если этот случай - карта это универсальный подарок на все случаи жизни
                                    .product__cost
                                        .product__cost-value 10 000 <span class="priceRu">руб.</span>
                                        .product__cost-txt Номинал
                            .catalog__item
                                a(href='#').product
                                    .product__marks
                                        .product__marks-item.product__marks-item--top хит продаж
                                    .product__pic
                                        img(src='img/temp/temp_02.jpg').product__pic-img
                                    .product__desc
                                        .product__title Экспедиция
                                        .product__info.txt-ellipsis Подарочная карта это универсальный подарок на все случаи жизни, особенно если этот случай - карта это универсальный подарок на все случаи жизни
                                    .product__cost
                                        .product__cost-value 10 000 - 30 000 <span class="priceRu">руб.</span>
                                        .product__cost-txt Номинал
                            .catalog__item
                                a(href='#').product
                                    .product__marks
                                        .product__marks-item.product__marks-item--new Новинка
                                    .product__pic
                                        img(src='img/temp/temp_02.jpg').product__pic-img
                                    .product__desc
                                        .product__title iTunes
                                        .product__info.txt-ellipsis Подарочная карта это универсальный подарок на все случаи жизни, особенно если этот случай - карта это универсальный подарок на все случаи жизни
                                    .product__cost
                                        .product__cost-value 10 000 - 30 000 <span class="priceRu">руб.</span>
                                        .product__cost-txt Номинал
                            .catalog__item
                                a(href='#').product
                                    .product__pic
                                        img(src='img/temp/temp_02.jpg').product__pic-img
                                    .product__desc
                                        .product__title МВидео
                                        .product__info.txt-ellipsis Подарочная карта это универсальный подарок на все случаи жизни, особенно если этот случай - карта это универсальный подарок на все случаи жизни
                                    .product__cost
                                        .product__cost-value 10 000 - 30 000 <span class="priceRu">руб.</span>
                                        .product__cost-txt Номинал
                            .catalog__item
                                a(href='#').product
                                    .product__marks
                                        .product__marks-item.product__marks-item--new Новинка
                                        .product__marks-item.product__marks-item--rec Рекомендуем
                                    .product__pic
                                        img(src='img/temp/temp_02.jpg').product__pic-img
                                    .product__desc
                                        .product__title Эльдорадо
                                        .product__info.txt-ellipsis Подарочная карта это универсальный подарок на все случаи жизни, особенно если этот случай - карта это универсальный подарок на все случаи жизни
                                    .product__cost
                                        .product__cost-value 10 000 <span class="priceRu">руб.</span>
                                        .product__cost-txt Номинал
                            .catalog__item
                                a(href='#').product
                                    .product__marks
                                        .product__marks-item.product__marks-item--top хит продаж
                                    .product__pic
                                        img(src='img/temp/temp_02.jpg').product__pic-img
                                    .product__desc
                                        .product__title Экспедиция
                                        .product__info.txt-ellipsis Подарочная карта это универсальный подарок на все случаи жизни, особенно если этот случай - карта это универсальный подарок на все случаи жизни
                                    .product__cost
                                        .product__cost-value 10 000 - 30 000 <span class="priceRu">руб.</span>
                                        .product__cost-txt Номинал
                            .catalog__item
                                a(href='#').product
                                    .product__marks
                                        .product__marks-item.product__marks-item--new Новинка
                                    .product__pic
                                        img(src='img/temp/temp_02.jpg').product__pic-img
                                    .product__desc
                                        .product__title iTunes
                                        .product__info.txt-ellipsis Подарочная карта это универсальный подарок на все случаи жизни, особенно если этот случай - карта это универсальный подарок на все случаи жизни
                                    .product__cost
                                        .product__cost-value 10 000 - 30 000 <span class="priceRu">руб.</span>
                                        .product__cost-txt Номинал
                            .catalog__item
                                a(href='#').product
                                    .product__pic
                                        img(src='img/temp/temp_02.jpg').product__pic-img
                                    .product__desc
                                        .product__title МВидео
                                        .product__info.txt-ellipsis Подарочная карта это универсальный подарок на все случаи жизни, особенно если этот случай - карта это универсальный подарок на все случаи жизни
                                    .product__cost
                                        .product__cost-value 10 000 - 30 000 <span class="priceRu">руб.</span>
                                        .product__cost-txt Номинал
                            .catalog__item
                                a(href='#').product
                                    .product__marks
                                        .product__marks-item.product__marks-item--new Новинка
                                        .product__marks-item.product__marks-item--rec Рекомендуем
                                    .product__pic
                                        img(src='img/temp/temp_02.jpg').product__pic-img
                                    .product__desc
                                        .product__title Эльдорадо
                                        .product__info.txt-ellipsis Подарочная карта это универсальный подарок на все случаи жизни, особенно если этот случай - карта это универсальный подарок на все случаи жизни
                                    .product__cost
                                        .product__cost-value 10 000 <span class="priceRu">руб.</span>
                                        .product__cost-txt Номинал
                            .catalog__item
                                a(href='#').product
                                    .product__marks
                                        .product__marks-item.product__marks-item--top хит продаж
                                    .product__pic
                                        img(src='img/temp/temp_02.jpg').product__pic-img
                                    .product__desc
                                        .product__title Экспедиция
                                        .product__info.txt-ellipsis Подарочная карта это универсальный подарок на все случаи жизни, особенно если этот случай - карта это универсальный подарок на все случаи жизни
                                    .product__cost
                                        .product__cost-value 10 000 - 30 000 <span class="priceRu">руб.</span>
                                        .product__cost-txt Номинал

                        include components/paginator.jade
                        .about-txt
                            h3 Текст о сервисе
                            p Но только что он вступил в столовую (еще через одну комнату от гостиной), с ним в дверях почти столкнулась выходившая Аглая. Она была одна. Пристальный и беспокойный ее взгляд нетерпеливо устремился на Аглаю. Обе сели поодаль одна от другой: Аглая на диване в углу комнаты, Настасья Филипповна у окна. Князь и Рогожин не садились, да их и не пригласили садиться. Князь с недоумением и как бы с болью опять поглядел на Рогожина, но тот улыбался всё прежнею своею улыбкой. Молчание продолжалось еще несколько мгновений. Когда наконец они повернули с двух разных тротуаров в Гороховую и стали подходить к дому Рогожина, у князя стали опять подсекаться ноги, так что почти трудно было уж и идти. Было уже около десяти часов вечера. Окна на половине старушки <span class="apseudo js-expand-trigger">Развернуть</span><span class="expand-txt">Но только что он вступил в столовую (еще через одну комнату от гостиной), с ним в дверях почти столкнулась выходившая Аглая. Она была одна. Пристальный и беспокойный ее взгляд нетерпеливо устремился на Аглаю. Обе сели поодаль одна от другой: Аглая на диване в углу комнаты, Настасья Филипповна у окна. Князь и Рогожин не садились, да их и не пригласили садиться. Князь с недоумением и как бы с болью опять поглядел на Рогожина, но тот улыбался всё прежнею своею улыбкой. Молчание продолжалось еще несколько мгновений. Когда наконец они повернули с двух разных тротуаров в Гороховую и стали подходить к дому Рогожина, у князя стали опять подсекаться ноги, так что почти трудно было уж и идти. Было уже около десяти часов вечера. Окна на половине старушки</span>
            include inc/footer.jade

        include inc/foot.jade