doctype html
html(lang="ru").no-js
    include inc/head.jade
    body
        .page-wrap
            include inc/header.jade
            main.page-main
                .inner-block.inner-block--s
                    include components/breadcrumbs.jade
                    h1 Оформление заказа
                    .checkout
                        .checkout__col
                            .checkout-grp
                                h3 Контактная информация
                                .checkout-grp__inner.checkout-grp__inner--cols.checkout-grp__inner--s
                                    .form-grp.form-grp--col-12
                                        label.form-label-hid Имя и фамилия
                                        input(type='text' placeholder='Имя и фамилия').form-ctrl
                                    .form-grp.form-grp--col
                                        label.form-label-hid Мобильный телефон
                                        input(type='text' placeholder='Мобильный телефон').form-ctrl
                                    .form-grp.form-grp--col
                                        label.form-label-hid Электронная почта
                                        input(type='text' placeholder='Электронная почта').form-ctrl
                            .checkout-grp
                                h3 Доставка
                                .checkout-grp__inner.checkout-grp__inner--s
                                    .checkout__row
                                        .checkout__cell.checkout__cell--col-6
                                            .form-radio
                                                input(type='radio' id='radio_01' name='radio-01').form-radio__input
                                                span.form-radio__txt
                                                    label(for='radio_01') Доставка курьером
                                                        span.form-radio__ico
                                                            i(data-ico="radio").ico.ico--s
                                                                svg.ico__svg
                                                                    use(xlink:href="#radio")
                                                span.checkout__tip
                                                    span.checkout__tip-trigger(tabindex=0)
                                                        i(data-ico="radio").ico.ico--s
                                                            svg.ico__svg
                                                                use(xlink:href="#info-tip")
                                                    span.checkout__tip-info
                                                        p
                                                            b Доставка по москве
                                                            br
                                                            b Доставка за мкад
                                                        p Заказ и текст

                                        .checkout__cell.checkout__cell--col-6
                                            .form-radio
                                                input(type='radio' id='radio_02' name='radio-01').form-radio__input
                                                span.form-radio__txt
                                                    label(for='radio_02') Самовывоз
                                                        span.form-radio__ico
                                                            i(data-ico="radio").ico.ico--s
                                                                svg.ico__svg
                                                                    use(xlink:href="#radio")

                                    //.checkout__row
                                        .checkout__cell
                                            .form-checkbox
                                                input(type='checkbox' id='checkbox_01').form-checkbox__input
                                                span.form-checkbox__txt
                                                    label(for='checkbox_01') Оформить в подарок
                                                        span.form-checkbox__ico
                                                            i(data-ico="checkbox").ico.ico--s
                                                                svg.ico__svg
                                                                    use(xlink:href="#checkbox")
                                        .checkout__cell
                                            .form-checkbox
                                                input(type='checkbox' id='checkbox_02').form-checkbox__input
                                                span.form-checkbox__txt
                                                    label(for='checkbox_02') Отправить себе
                                                        span.form-checkbox__ico
                                                            i(data-ico="checkbox").ico.ico--s
                                                                svg.ico__svg
                                                                    use(xlink:href="#checkbox")

                                //h4 Адрес доставки:
                                .checkout-grp__inner.checkout-grp__inner--cols.checkout-grp__inner--s
                                    //.form-grp.form-grp--col
                                        label.form-label-hid Имя и фамилия
                                        input(type='text' placeholder='Имя и фамилия').form-ctrl
                                    .form-grp.form-grp--col
                                        label.form-label-hid Выбрать страну
                                        select(placeholder='Выбрать страну').form-ctrl
                                            option Москва
                                            option Санкт-Петербург
                                            option Минск
                                            option Смоленск
                                    //.form-grp.form-grp--col
                                        label.form-label-hid Выбрать регион
                                        select(placeholder='Выбрать регион').form-ctrl
                                            option Москва
                                            option Санкт-Петербург
                                            option Минск
                                            option Смоленск
                                    .form-grp.form-grp--col
                                        label.form-label-hid Выбрать город
                                        select(placeholder='Выбрать город').form-ctrl
                                            option Москва
                                            option Санкт-Петербург
                                            option Минск
                                            option Смоленск
                                    //.form-grp.form-grp--col.form-grp--col-3
                                        label.form-label-hid Индекс
                                        input(type='text' placeholder='Индекс').form-ctrl
                                    //.form-grp.form-grp--col.form-grp--col-9
                                        label.form-label-hid Адрес
                                        input(type='text' placeholder='Адрес').form-ctrl

                                    .form-grp.form-grp--col
                                        label.form-label-hid Улица
                                        input(type='text' placeholder='Улица').form-ctrl
                                    .form-grp.form-grp--col.form-grp--col-3
                                        label.form-label-hid Дом
                                        input(type='text' placeholder='Дом').form-ctrl
                                    .form-grp.form-grp--col.form-grp--col-3
                                        label.form-label-hid Квартира
                                        input(type='text' placeholder='Квартира').form-ctrl

                            //.checkout-grp
                                h3
                                    span Получатель
                                .checkout-grp__inner.checkout-grp__inner--cols.checkout-grp__inner--s
                                    .form-grp.form-grp--col
                                        label.form-label-hid Имя и фамилия
                                        input(type='text' placeholder='Имя и фамилия').form-ctrl
                                    .form-grp.form-grp--col
                                        label.form-label-hid Мобильный телефон
                                        input(type='text' placeholder='Мобильный телефон').form-ctrl
                            .checkout-grp
                                h3 Способ оплаты
                                .checkout-grp__inner.checkout-grp__inner--s
                                    .form-radio
                                        input(type='radio' id='radio_03' name='radio-02').form-radio__input
                                        span.form-radio__txt
                                            label(for='radio_03') Наличными при получении
                                                span.form-radio__ico
                                                    i(data-ico="radio").ico.ico--s
                                                        svg.ico__svg
                                                            use(xlink:href="#radio")
                                .checkout-grp__inner.checkout-grp__inner--s
                                    .form-radio
                                        input(type='radio' id='radio_04' name='radio-02').form-radio__input
                                        span.form-radio__txt
                                            label(for='radio_04') Банковской картой
                                                span.form-radio__ico
                                                    i(data-ico="radio").ico.ico--s
                                                        svg.ico__svg
                                                            use(xlink:href="#radio")
                                    .form-radio.form-radio--no-margin
                                        input(type='radio' id='radio_05' name='radio-02').form-radio__input
                                        span.form-radio__txt
                                            label(for='radio_05')
                                                | Безналичная оплата <span class="txt-mute">(для юридических лиц)</span>
                                                //i(data-ico="mastercard").ico
                                                    svg.ico__svg
                                                        use(xlink:href="#mastercard")
                                                //i(data-ico="visa").ico
                                                    svg.ico__svg
                                                        use(xlink:href="#visa")
                                                span.form-radio__ico
                                                    i(data-ico="radio").ico.ico--s
                                                        svg.ico__svg
                                                            use(xlink:href="#radio")
                            .checkout-grp
                                h3  Комментарий к заказу
                                .checkout-grp__inner.checkout-grp__inner--s
                                    .form-grp
                                        label.form-label-hid Комментарий
                                        textarea(placeholder='Комментарий').form-ctrl


                        .checkout__col
                            .checkout-grp
                                h3 Заказ <span class="txt-mute">(2)</span>
                                .checkout__item
                                    .checkout__item-name Подарочная карта Эльдорадо
                                    .checkout__item-price 2 x 10 000 <span class="priceRu">руб.</span>
                                .checkout__item
                                    .checkout__item-name Подарочная упаковка. Красная коробка с золотым бантом
                                    .checkout__item-price 2 x 500 <span class="priceRu">руб.</span>

                            .checkout-grp
                                h3 Итого
                                .checkout__summ
                                    table
                                        tbody
                                            tr
                                                td Стоимость заказа:
                                                td
                                                    b 20 000 <span class="priceRu">руб.</span>
                                            tr
                                                td Стоимость доставки:
                                                td
                                                    b 20 000 <span class="priceRu">руб.</span>
                                        tfoot
                                            tr
                                                td Общая стоимость:
                                                td
                                                    span.big 20 000 <span class="priceRu">руб.</span>
                            button.btn
                                span.btn__txt Подтвердить заказ
                            .small
                                | Подтвердив и оплатив заказ
                                br
                                | вы принимаете условия <a href='#'>договора оферты</a>




                    //.checkout-footer
                        .checkout-footer__col
                            span.back-step
                                a(href="#").back-step__link В корзину
                        .checkout-footer__col.checkout-footer__col--full
                            .small
                                em
                                    | Подтвердив и оплатив заказ
                                    br
                                    | вы принимаете условия <a href='#'>договора оферты</a>
                        .checkout-footer__col
                            button.btn
                                span.btn__txt Подтвердить заказ
            include inc/footer.jade

        include inc/foot.jade