doctype html
html(lang="ru").no-js
    include inc/head.jade
    body
        .page-wrap
            include inc/header.jade
            main.page-main
                .inner-block.inner-block--s
                    include components/breadcrumbs.jade
                    h1 Личный кабинет
                    .personal-account
                        .tab
                            .tab__switcher.tab__switcher--primary
                                span(data-tab="contact-info").tab__switcher-item.active Контактная информация
                                span(data-tab="manage-subscriptions").tab__switcher-item Управление подписками
                                span(data-tab="change-password").tab__switcher-item Изменить пароль
                                span(data-tab="my-gifts").tab__switcher-item Мои подарки
                            #contact-info.tab__content.active
                                h2 Контактная информация
                                .personal-account__cols
                                        .form-grp.form-grp--col
                                            label.form-label-hid Имя и фамилия
                                            input(type='text' placeholder='Имя и фамилия').form-ctrl
                                        .form-grp.form-grp--col
                                            label.form-label-hid Выбрать страну
                                            select(placeholder='Выбрать страну').form-ctrl
                                                option Москва
                                                option Санкт-Петербург
                                                option Минск
                                                option Смоленск
                                        .form-grp.form-grp--col
                                            label.form-label-hid Выбрать регион
                                            select(placeholder='Выбрать регион').form-ctrl
                                                option Москва
                                                option Санкт-Петербург
                                                option Минск
                                                option Смоленск
                                        .form-grp.form-grp--col
                                            label.form-label-hid Выбрать город
                                            select(placeholder='Выбрать город').form-ctrl
                                                option Москва
                                                option Санкт-Петербург
                                                option Минск
                                                option Смоленск
                                    .form-grp
                                        label.form-label-hid Адрес
                                        input(type='text' placeholder='Адрес').form-ctrl
                                .personal-account__cols
                                    .form-grp.form-grp--col.form-grp--col-3
                                        label.form-label-hid Индекс
                                        input(type='text' placeholder='Индекс').form-ctrl
                                    .form-grp.form-grp--col.form-grp--col-6
                                        label.form-label-hid Мобильный телефон
                                        input(type='text' placeholder='Мобильный телефон').form-ctrl
                                    .form-grp.form-grp--col.form-grp--col-3
                                        button.btn
                                            span.btn__txt Сохранить

                            #manage-subscriptions.tab__content
                                h2 Управление подписками
                            #change-password.tab__content
                                h2 Изменить пароль
                            #my-gifts.tab__content
                                h2 Мои подарки
                                .tab
                                    .tab__switcher.tab__switcher--secondary
                                        span(data-tab="accepted").tab__switcher-item.apseudo.active Принятые
                                        span(data-tab="done").tab__switcher-item.apseudo Выполненные
                                        span(data-tab="cancelled").tab__switcher-item.apseudo Отмененные
                                    #accepted.tab__content.active
                                        table
                                            thead
                                                tr
                                                    td Номер
                                                    td Дата заказа
                                                    td(colspan=2) Сумма
                                            tbody
                                                tr.header
                                                    td 1
                                                    td 17.05.2015
                                                    td 10 350 <span class="priceRu">руб.</span>
                                                    td
                                                        span.header-arrow
                                                tr.content
                                                    td
                                                        .content__inner Адрес доставки
                                                    td(colspan=3)
                                                        .content__inner
                                                            | Иванов Сергей Петрович, +375 (29) 545−00−00
                                                            br
                                                            | г. Москва, ул. Ольховская, д. 29, д. 8, кв. 620
                                                tr.content
                                                    td
                                                        .content__inner Способ доставки
                                                    td(colspan=3)
                                                        .content__inner Курьером
                                                tr.content
                                                    td
                                                        .content__inner Статус доставки
                                                    td(colspan=3)
                                                        .content__inner В процессе
                                                tr.content
                                                    td
                                                        .content__inner Оплата
                                                    td(colspan=3)
                                                        .content__inner Оплачено


                                                tr.header
                                                    td 2
                                                    td 17.05.2015
                                                    td 10 350 <span class="priceRu">руб.</span>
                                                    td
                                                        span.header-arrow
                                                tr.content
                                                    td
                                                        .content__inner Адрес доставки
                                                    td(colspan=3)
                                                        .content__inner
                                                            | Иванов Сергей Петрович, +375 (29) 545−00−00
                                                            br
                                                            | г. Москва, ул. Ольховская, д. 29, д. 8, кв. 620
                                                tr.content
                                                    td
                                                        .content__inner Способ доставки
                                                    td(colspan=3)
                                                        .content__inner Курьером
                                                tr.content
                                                    td
                                                        .content__inner Статус доставки
                                                    td(colspan=3)
                                                        .content__inner В процессе
                                                tr.content
                                                    td
                                                        .content__inner Оплата
                                                    td(colspan=3)
                                                        .content__inner Оплачено


                                                tr.header
                                                    td 3
                                                    td 17.05.2015
                                                    td 10 350 <span class="priceRu">руб.</span>
                                                    td
                                                        span.header-arrow
                                                tr.content
                                                    td
                                                        .content__inner Адрес доставки
                                                    td(colspan=3)
                                                        .content__inner
                                                            | Иванов Сергей Петрович, +375 (29) 545−00−00
                                                            br
                                                            | г. Москва, ул. Ольховская, д. 29, д. 8, кв. 620
                                                tr.content
                                                    td
                                                        .content__inner Способ доставки
                                                    td(colspan=3)
                                                        .content__inner Курьером
                                                tr.content
                                                    td
                                                        .content__inner Статус доставки
                                                    td(colspan=3)
                                                        .content__inner В процессе
                                                tr.content
                                                    td
                                                        .content__inner Оплата
                                                    td(colspan=3)
                                                        .content__inner Оплачено
                                    #done.tab__content
                                        h2 Выполненные
                                    #cancelled.tab__content
                                        h2 Отмененные




            include inc/footer.jade

        include inc/foot.jade