.address {
  display: table;
  width: 100%;
  table-layout: fixed;
  margin-bottom: 44px;
  &__pic {
	display: table-cell;
	vertical-align: middle;
	width: 46.5%;
	img {
	  display: block;
	}
  }
  &__txt {
	line-height: 1.2;
	display: table-cell;
	vertical-align: middle;
	background-color: #f4f4f4;
	border-top: 16px solid #fff;
	border-bottom: 16px solid #fff;
	padding-left: 144px;
	padding-top: 10px;
	padding-bottom: 10px;
  }
  &__title {
	font-size: 1.0666666666666667em;
	line-height: 1.5;
	margin-bottom: 1.875em;

	img {
	  margin-right: 22px;
	  position: relative;
	  top: 3px;
	}
  }
}