.owl-carousel {
  margin-top: 3.6em;
  margin-bottom: 3em;
  .no-js & {
    > div + div {
      display: none;
    }
  }
}

.owl-nav {
  text-align: center;
  font-family: @secondFont-Family;

  &>div {
    display: inline-block;
    vertical-align: bottom;
  }
}
.owl-prev, .owl-next {
  font-size: 2.533333333333333em;
  line-height: 0.8421052631578947;
  &:hover {
    color: #77c01d;
  }
}
.owl-count {
  font-size: 1.2em;
  line-height: 1.3333333333333333;
  font-weight: bold;
  margin: 0 8px;

  &__index,
  &__total {
    min-width: 22px;
  }
  &__index {
    text-align: right;

  }
  &__total {
    text-align: left;
  }
  &__sep:after {
    content: '/';
    margin: 0 5px;
  }
}