.checkout {
  //background-color: #fff;
  //box-shadow: 0 1px 2px rgba(0, 0, 0, 0.13);
  padding-left: 34px;
  padding-right: 34px;
  padding-bottom: 60px;
  .clearfix();

  &__col {
    border: 2px solid #dbdbdb;
    width: 242px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 22px;
    float: right;

    &:first-child {
      float: left;
      padding-left: 24px;
      padding-right: 24px;
      width: 422px;
    }
  }


  h3, .h3 {
    font-size: 1.2666666666666666em;
    line-height: 1.263157894736842;
    text-transform: uppercase;
    margin-top: 2.052631578947368em;
    margin-bottom: 1.1578947368421053em;
    overflow: hidden;
    //text-align: center;

    //span {
    //  position: relative;
    //  &:before, &:after {
    //    content: '';
    //    position: absolute;
    //    height: 2px;
    //    background-color: #d8d3d0;
    //    width: @pageWidth;
    //    margin-top: -1px;
    //    top: 50%;
    //  }
    //  &:before {
    //    left: 100%;
    //    margin-left: 20px;
    //  }
    //  &:after {
    //    right: 100%;
    //    margin-right: 20px;
    //  }
    //}
  }
  .checkout-grp:first-child h3,
  .checkout-grp:first-child .h3 {
    margin-top: 1.1578947368421053em;
  }
  h4, .h4 {
    //text-align: center;
    margin-top: 1.4em;
    margin-bottom: 1.7333333333333334em;
  }
  .form-grp + .form-grp {
    margin-top: 0;
  }
  .form-grp--col-12 ~ .form-grp,
  .form-grp--col + .form-grp--col + .form-grp--col{
    margin-top: 14px;
  }
  .form-radio--no-margin {
    margin-bottom: 0;
  }
  .form-grp--col {
    .column(6);
    padding-left: 7px;
    padding-right: 7px;
  }
  .form-grp--col-3 {
    .column(3);
    padding-left: 7px;
    padding-right: 7px;
  }
  .form-grp--col-9 {
    .column(9);
    padding-left: 7px;
    padding-right: 7px;
  }
  .form-grp--col-12 {
    .column(12);
    padding-left: 7px;
    padding-right: 7px;
  }
  &__row {
    display: table;
    width: 100%;
  }
  &__cell {
    display: table-cell;
    padding-right: 7px;
    padding-left: 7px;
    vertical-align: top;

    &--col-6 {
      width: 50%;
    }
  }
  &__tip {
    margin-left: 6px;
    &-info {
      display: none;
      position: absolute;
      left: 0;
      font-size: 10px;
      line-height: 16px;
      padding-left: 18px;
      padding-right: 18px;
      padding-top: 18px;
      padding-bottom: 20px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.10);
      width: 386px;
      margin-top: 10px;
      white-space: normal;
      background-color: #fff;
      z-index: 1;
    }
    p {
      margin-bottom: 8px;
    }
    a {
      color: #00c2d9;
      text-decoration: none;

      &:hover {
        color: #33cee1;
      }
    }
    &-trigger:focus + &-info {
      display: block;
    }
  }

  .form-ctrl, .selectric {
    font-size: 12px;
    line-height: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 34px;

    .button {
      height: 34px;
      line-height: 34px;
    }

  }
  .form-checkbox, .form-radio {
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  textarea {
    min-height: 132px;
  }
  &__item {
    &-name {
      font-size: 12px;
      line-height: 18px;
    }
    &-price {
      font-weight: bold;
    }
  }
  &__summ {
    font-size: 12px;
    line-height: 20px;
    margin-top: -16px;

    table {
      margin-bottom: 14px;
    }
    td {
      padding-left: 0;
      padding-top: 3px;
      padding-bottom: 3px;
      border: none;
    }
    td + td {
      text-align: right;
      font-size: 14px;
    }

    tfoot {
      font-weight: bold;

      td {
        padding-top: 6px;
      }
      td + td {
        font-size: 18px;
      }
    }
  }
  .btn {
    display: block;
    width: 100%;
    background: #00c3d9;
    border: none;
    height: 38px;
    margin-bottom: 18px;
  }
  .small {
    font-size: 10px;
    line-height: 12px;
    color: #a2a2a2;
  }
  &-grp {

    &__inner {
      //display: table;
      //min-width: 100%;
      margin-left: -7px;
      margin-right: -7px;
      .clearfix();
      &--s {
        //width: 640px;

      }
      &--cols {
        //width: 670px;
      }
      &--full {
        margin-left: -40px;
        margin-right: -40px;
      }
    }
    &__col {
      .column(6);

    }
  }
  [data-ico="mastercard"] {
    width: 38px;
    height: 24px;
    line-height: 18px;
    margin-left: 18px;
  }
  [data-ico="visa"] {
    height: 24px;
    line-height: 18px;
    margin-left: 8px;
  }
  &-footer {
    padding-left: 98px;
    padding-right: 98px;
    color: #9c9c9c;
    padding-top: 40px;
    a {
      color: #9c9c9c;
      &:hover {
        color: @secondColor;
      }
    }

    &__col {
      display: table-cell;
      vertical-align: middle;
      &--full {
        width: 100%;
        padding-left: 70px;
      }
    }
    .back-step {
      white-space: nowrap;
      position: relative;
      top: -2px;
      &__link {
        color: #000;
        &:before {
          font-family: @secondFont-Family;
          font-size: 1.3333333333333333em;
          line-height: 1.3;
          display: inline-block;
          vertical-align: bottom;
          content: '‹';
          margin-right: 10px;
        }
      }


    }
  }

}