.filter_catalog {
  .clearfix();

  .filter {
    .column(3);
    padding-left: 0;
  }
  .catalog {
    .column(9);
    padding-left: 0;
    padding-right: 0;
    margin-bottom: -12px;

    &__item {
      .column(4);
    }
  }

  .paginator,
  .about-txt {
    .push(3);
    clear: both;
  }
  .paginator {
    padding-bottom: 12px;
  }
}