.filter {
  &__form {
    background-color: #e6e6e6;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 34px;
    padding-bottom: 36px;
  }
  .form-checkbox--right {
    text-transform: uppercase;
    font-weight: bold;
    //color: #3d6300;
  }
  .form-checkbox--right + .form-checkbox--right {
    margin-top: 20px;
  }

  &__grp {
    margin-top: 24px;
    &-title {
      //color: #3d6300;
      text-transform: uppercase;
      font-weight: bold;
      cursor: pointer;
      display: inline-block;
      &:after {
        content: '►';
        font-size: 0.7333333333333333em;
        transform: scaleX(0.65);
        display: inline-block;
        margin-left: 8px;
        line-height: 1.4666666666666666;
      }

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
    &--active &-title:after {
      transform: scaleY(0.65) rotate(90deg);
    }
    &-content {
      display: none;
      margin-top: 14px;
    }
    &--active &-content {
      display: block;
    }
  }
  &--search {
    margin-bottom: 22px;
    .form-ctrl {
      height: 32px;
      box-shadow: none;
      padding-top: 3px;
      padding-bottom: 6px;
    }
    button {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0;
      width: 32px;
      color: #d8d3d0;
    }
  }
  .irs {
    //color: #fff;
  }
  .form-checkbox {
    margin-bottom: 10px;

    &__ico {
      background-color: #fff;
    }
  }
}