.footer-navigation {
  padding-top: 70px;
  padding-bottom: 70px;
  .clearfix();

  &__cat {
    .column(3);

    &-title {
      font-size: 1.2em;
      line-height: 1.222222222222222;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 1.3888888888888888em;
    }
    &-list {
      margin: 0;
      padding: 0;
      list-style: none;
      &-item {
        margin-top: 0.3333333333333333em;
        &:before {
          display: none;
        }

        &--special {
          text-transform: uppercase;
          margin-top: 1.3333333333333333em;
        }
      }
    }
    &-link {
      color: #c5c5c5;
    }
    &-list-item--special &-link:after {
      content: '›';
      position: absolute;
      padding-left: 10px;
      font-family: @secondFont-Family;
      font-size: 1.2em;
      line-height: 1.222222222222222;

    }
  }
}