.footer-info {
  border-top: 1px solid #525252;
  padding-top: 20px;
  padding-bottom: 20px;
  .clearfix();
  [data-ico="mastercard"] {
    width: 56px;
    height: 34px;
    line-height: 34px;
  }
  [data-ico="visa"] {
    background-color: #fff;
    width: 70px;
    height: 32px;
    line-height: 32px;
  }
  [data-ico="developer-logo"] {
    width: 32px;
    height: 28px;
    line-height: 28px;
    margin-left: 12px;
  }
  .ico + .ico {
    margin-left: 20px;
  }

  &__header {
    color: #c5c5c5;
    margin-bottom: 25px;
    .clearfix();

    &-num {
      font-family: @secondFont-Family ;
      .column(3);

    }
    &-address {
      .column(6)
    }
    &-ccards {
      .column(3)
    }
  }
  &__footer {
    color: #969696;
    .clearfix();

    &-copyright {
      .column(3);

    }
    &-nav {
      .column(6);

      &-link {
        color: #969696;
        & + & {
          margin-left: 36px;
        }
      }
    }
    &-developer {
      .column(3)
    }
  }
}