.header-base {
  background-color: #150051;
  color: #f3f3f3;

  a {
    color: #f3f3f3
  }


  &__col,
  &__contacts,
  &__logo,
  &__cart,
  &__search {
    display: table-cell;
    vertical-align: middle;
    height: 86px;
  }
  &__row {
    display: table;
    width: 100%;
  }
  &__col {
    position: relative;
  }
  &__contacts {
    font-size: 1.2em;
    line-height: 1;
    width: 300px;
  }
  &__logo {
    text-align: center;
    width: 1%;
    padding-right: 68px;
    .ico {
      width: 214px;
    }
  }
  &__slogan {
    font-size: 0.8em;
    line-height: 1.5;
    position: relative;
    top: -5px;
  }
  &__cart {
    text-align: right;
    font-size: 1.2em;
    line-height: 1;
    width: 1%;
    white-space: nowrap;

    &-count {
      background-color: #00c2d9;
      padding: 8px 12px 8px 8px;
      border-radius: 5px;
      font-family: @secondFont-Family;
      margin-left: 32px;

      .ico {
        margin-right: 6px;
      }
    }
  }

  &__search {
    &Inner {
      position: absolute;
      right: 0;
      width: inherit;
      top: 0;
      background-color: #150051;
      transition: width .2s ease-in-out;

      &:after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 2px;
        height: 17px;
        top: 50%;
        margin-top: -9px;
        opacity: 1;
        transition: .2s ease-in-out;
        transition-property: opacity, left;
      }
      &:after {
        right: -2px;
      }

    }
    &--focus &Inner {
      width: 100%;
      position: absolute;
      &:after {
        left: -20px;
      }
      &:before {
        opacity: 0;
      }
    }

    [data-ico="search"] {
      margin-right: 10px;
      display: none;
    }
    &--focus [data-ico="search"] {
      display:inline-block;
    }
    &Input {
      width: 100%;
    }
    &Ctrls {
      overflow: hidden;
      width: 0px;
      opacity: 0;
      transition: .2s ease-in-out;
      transition-property: width, opacity;
    }
    &--focus &Ctrls {
      opacity: 1;
      width: 170px;
    }

    .form-label {
      color: #fff;
      left: 0;
      padding-left: 3px;
      position: absolute;
      top: 0;
      cursor: pointer;
      z-index: 1;
      padding-top: 6px;
      padding-bottom: 6px;
      right: 0;
      text-align: center;
      white-space: nowrap;
      opacity: 1;
      transition: .4s ease-in-out;
      transition-property: opacity, z-index;

      [data-ico="search"] {
        display: inline-block;
      }
    }
    &--focus .form-label {
      opacity: 0;
      z-index: -2;
    }
    .form-ctrl {
      padding: 8px 10px 6px;
      height: 36px;
      width: 0%;
      opacity: 0;
      transition: .2s ease-in-out;
      transition-property: width, opacity;
      background: none;
      color: #fff;

      &::-moz-placeholder     {text-overflow:ellipsis;}
      &:-moz-placeholder      {text-overflow:ellipsis;}
      &:-ms-input-placeholder {text-overflow:ellipsis;}
    }
    &--focus .form-ctrl {
      width: 100%;
      opacity: 1;
    }
    .btn {
      border-width: 3px;
      border-color: #fff;
      height: 36px;
      padding-top: 4px;
      padding-bottom: 4px;
      min-width: 126px;
      background: none;
      margin-left: 10px;
    }

    [data-ico="remove"] {
      margin-left: 10px;
      cursor: pointer;
    }
  }
}