.page-contacts {
  h3, .h3 {
	font-size: 1.6em;
	line-height: 1.25;
	color: #00c2d9;
	margin-top: 1.875em;
	margin-bottom: 1.75em;
  }
  big, .big {
	font-size: 1.4666666666666666em;
	line-height: 1.0909090909090908;
	margin-top: 0.13636363636363635em;
	margin-bottom: 0.6818181818181819em;
  }
  p {
	margin-bottom: 1em;
  }
  .social-links__item {
	.ico--s {
	  width: 28px;
	  height: 28px;
	  line-height: 28px;
	  border-radius: 50%;
	}
  }
  [data-ico='fb'] {
	background-image: url("../img/ico-fb-transparent.png");
	background-color: #1d67b0;

	&:hover {
	  background-color: #1d74ca;
	}
  }
  [data-ico='vk'] {
	background-image: url("../img/ico-vk-transparent.png");
	background-color: #5572ac;

	&:hover {
	  background-color: #6a89c6;
	}
  }
}