.personal-account {
  margin-bottom: 32px;
  margin-top: -13px;
  .tab > .tab__switcher--primary {
    background-color: #f1a934;
    background-image: linear-gradient(to left, rgba(242, 135, 40, 0.9) 0%, rgba(254, 199, 66, 0.9) 100%);
    text-align: center;

    .tab__switcher-item {
      text-decoration: none;
      color: #fff;
      padding-top: 11px;
      padding-bottom: 13px;
      display: table-cell;
      width: 1%;
      cursor: pointer;
      &:hover {
        background-color: #fff;
        background-color: rgba(255,255,255,.23);
      }
      &.active {
        color: @baseColor;
        background-color: #fff;
        cursor: default;
      }
    }
    ~ .tab__content {
      background-color: #fff;
      padding-top: 21px;
      padding-left: 98px;
      padding-right: 98px;
      padding-bottom: 100px;
      .clearfix();
    }
  }
  .tab > .tab__switcher--secondary {
    text-align: center;

    .tab__switcher-item {
      margin-left: 20px;
      margin-right: 20px;
      vertical-align: baseline;
      &.active {
        text-decoration: none;
        color: #fff;
        cursor: default;
        background-color: #00c2d9;
        border-radius: 5px;
        box-shadow: inset 0 6px 9px rgba(96, 41, 0, 0.07);
        margin-left: 0;
        margin-right: 0;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 2px;
        padding-bottom: 4px;

      }
    }
    ~ .tab__content {

      .clearfix();
    }
  }
  &__cols {
    margin-left: -@pagePadLeft;
    margin-right: -@pagePadRight;
    .clearfix();
  }
  .form-grp--col {
    .column(6);
  }
  .form-grp--col-3 {
    .column(3);
  }
  .form-grp--col-6 {
    .column(6);
  }
  .form-grp {
    margin-top: 30px;
  }
  table {
    margin-bottom: 0;
    margin-top: 36px;
  }
  thead {
    background: none;
    font-size: 0.8em;
    line-height: 1.5;
    color: #9c9c9c;
    td {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
  td {
    border: none;
    padding-left: 35px;
  }
  .header {
    cursor: pointer;
    td {
      background-color: #ebf6dd;
      border-top: 3px solid #fff;
      padding-top: 13px;
      padding-bottom: 13px;
    }
    &.active td {
      background-color: #77c01d;
      color: #fff;
    }
    &-arrow {
      font-family: @secondFont-Family;
      font-size: 1.8em;
      line-height: 1;
      transform: rotate(90deg);
      color: #00a5e2;
      &:before {
        content: '›';
      }
    }
    &:hover {
      text-decoration: underline;
      .header-arrow {
        color: #ff8400;
      }
    }
    &.active {
      text-decoration: none;
      .header-arrow {
        color: #fff;
        &:before {
          content: '‹';
        }
      }
    }
  }
  .content {
    td {
      padding-top: 0;
      padding-bottom: 0;
      vertical-align: top;
      font-family: @baseFont-Family;
      &:first-child {
        font-weight: bold;
      }
    }

    &__inner {
      height: 0;
      overflow: hidden;
    }
    &.opened {
      .content__inner {
        height: auto;
        overflow: auto;
        padding-top: 12px;
        padding-bottom: 12px;
      }

    }
  }
}