.product {
  background-color: #FFF;
  display: block;
  text-decoration: none;
  color: inherit;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  padding: 50px 13px 18px;
  position: relative;
  transform: translateY(0px);
  transition: .2s ease-in-out;
  transition-property: box-shadow, transform;

  &:hover {
    transform: translateY(-20px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.10);
    color: inherit;
  }

  &__marks {
    position: absolute;
    top: 12px;
    left: 13px;
    &-item {
      display: table-cell;
      text-transform: uppercase;
      color: #fff;
      font-weight: bold;
      font-size: 0.6em;
      line-height: 1.3333333333333333;
      padding: 0 18px;
      height: 30px;
      vertical-align: middle;

      &--new {
        background-color: #ff6a4b;
      }
      &--rec {
        background-color: #bd8cbf;
      }
      &--top {
        background-color: #f6b959;
      }
    }
  }
  &__pic {
    height: 130px;
    vertical-align: middle;
    display: table-cell;
    width: 1%;
    max-width: 140px;

    &-img {
      vertical-align: top;
      border-radius: 12px;
    }
  }
  &__desc {
    margin-top: 6px;
  }
  &__title {
    font-weight: bold;
    line-height: 1.2;
    height: 2.4em;
    vertical-align: bottom;
    display: table-cell;
    width: 1%;
  }
  &__cat {
    min-height: 3.2em;
    color: #838383;
  }
  &__info {
    font-size: 0.8666666666666667em;
    line-height: 1.2307692307692308;
    color: #838383;
    margin-top: 3px;
    height: 4.923076923076923em;
    overflow: hidden;
    word-wrap: break-word;
  }
  &__cost {
    margin-top: 13px;
    &-txt {
      color: #838383;
      font-size: 0.8em;
      line-height: 1.5;
    }
    &-value {
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-weight: bold;
      font-size: 1.4666666666666666em;
      line-height: 1;
    }
  }
  &__ctrl {
    margin-top: 18px;
  }
}
.product-card {
  background-color: #FFF;
  border: 1px solid #d8d8d8;
  margin-bottom: 18px;
  padding-right: 70px;
  padding-left: 58px;
  padding-bottom: 20px;
  padding-top: 46px;
  .clearfix();

  &__col {
    float: right;
    width: 640px;

    &:first-child {
      float: left;
      width: 340px;
      padding-right: 57px;
    }
  }

  .product {
    box-shadow: none;
    transform: none;
    padding-top: 0;
    padding-left: 26px;
    padding-right: 26px;

    &__pic {
      height: 180px;
      vertical-align: top;
    }
    &__cost {
      margin-top: 54px;
      text-align: center;

      &-txt {
        font-size: inherit;
      }
      &-value {
        font-size: 1.6em;
        line-height: 1.25;
        margin-top: 3px;
      }
    }
  }
  &__params {
    background-color: #fac95f;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 18px;
    padding-top: 22px;
    padding-bottom: 18px;

    &__face-value {
      display: table-cell;
      width: 128px;
      max-width: 128px;
      padding-right: 40px;
      vertical-align: middle;
    }
    &__custom-face-value {
      display: table-cell;
      width: 162px;
      max-width: 162px;
      min-width: 162px;
      padding-right: 30px;
      vertical-align: middle;
    }
    &__count {
      display: table-cell;
      vertical-align: middle;
      width: 104px;
    }
    &__quick {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      white-space: nowrap;
      width: 100%;

      .apseudo {
        color: #2a2826;
      }
    }
    &__button {
      display: table-cell;
      vertical-align: middle;

      .btn {
        border: none;
        background: #00c2d9;
        color: #fff;
        height: 36px;
        min-width: 126px;

        &:hover {
          background: #33cee1;
        }
      }
    }
    .selectric, .form-ctrl {
      background-color: #ffffff;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.13);
    }
  }
  h3, .h3 {
    text-align: center;
  }
  &__gift {
    margin-top: 18px;

    .form-ctrl,
    .selectric {
      background-color: transparent;
      border: 1px solid #fac95f;
    }
    .form-ctrl:hover,
    .selectric:hover,
    .selectric-open .form-ctrl,
    .selectric-open .selectric {
      background-color: #fac95f;
    }
    &-presets {
      margin-bottom: 30px;
      margin-left: -@pagePadLeft;
      margin-right: -@pagePadRight;
      .clearfix();

      .form-grp {
        margin-top: 0;
        .column(12);
      }
    }
    &-text {
      .form-grp + .form-grp {
        margin-top: 2px;
      }
    }
    .selectric-items {
      left: auto;
      width: 100% !important;

      li + li {
        border-top: 2px solid #f4f4f4;
      }
    }
    .form-grp:first-child .selectric-items {
      left: 0;
      right: auto;
    }
    .selectric-items {
      li {
        padding-top: 17px;
        padding-bottom: 17px;
      }
    }
    &-ctrl {
      text-align: right;
      font-size: 0.8em;
      line-height: 1.3333333333333333;
      margin-top: 13px;
      margin-bottom: 26px;
      .apseudo {
        color: #9c9c9c;
        &:hover {
          color: @linkColor--HVR;
        }
      }
      .ico {
        margin-right: 10px;
      }
    }
  }
  &__footer {
    padding-top: 22px;
    &-social {
      display: table-cell;
      vertical-align: top;
      white-space: nowrap;

      .social-links__item {
        .ico--s {
          width: 28px;
          height: 28px;
          line-height: 28px;
          border-radius: 50%;
          top: -5px;
        }
      }
      [data-ico='fb'] {
        background-image: url("../img/ico-fb-transparent.png");
        background-color: #1d67b0;

        &:hover {
          background-color: #1d74ca;
        }
      }
      [data-ico='vk'] {
        background-image: url("../img/ico-vk-transparent.png");
        background-color: #5572ac;

        &:hover {
          background-color: #6a89c6;
        }
      }
    }
    &-button {
      display: table-cell;
      vertical-align: top;
      width: 1%;
    }
    &-delivery {
      display: table-cell;
      vertical-align: top;
      color: #9c9c9c;
      padding-right: 12px;
      white-space: nowrap;

      .ico {
        color: #57585b;
        margin-right: 10px;
        top: -2px;
      }
    }
    &-present {
      display: table-cell;
      vertical-align: top;
      color: #9c9c9c;
      padding-right: 14px;
      white-space: nowrap;

      .ico {
        color: #57585b;
        margin-right: 10px;
        top: -2px;
      }
    }
    &-route {
      display: table-cell;
      vertical-align: top;
      width: 100%;
      white-space: nowrap;
      padding-right: 10px;
      position: relative;

      &-trigger {
        outline: none;
        position: relative;
        &:hover {
          color: #000;
        }
      }

      &-info {
        display: none;
        position: absolute;
        left: 0;
        font-size: 0.8em;
        line-height: 1.25;
        max-width: 250px;
        white-space: normal;
        top: 100%;

        &-inner {
          margin-top: 12px;
          background-color: #fff;
          padding-left: 18px;
          padding-right: 18px;
          padding-top: 18px;
          padding-bottom: 20px;
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.10);
        }

        p {
          margin-bottom: 12px;
        }
        a {
          color: #00c2d9;
          text-decoration: none;

          &:hover {
            color: #33cee1;
          }
        }
      }
      &-trigger:hover &-info {
        display: block;
      }
    }
    &-stations {
      position: relative;
      top: 2px;
      padding-right: 14px;
      display: table-cell;

      img {
        max-width: none;
      }
    }
    &-info {
      display: inline-block;
    }
  }

  .information {
    margin-left: -58px;
    margin-right: -70px;
    padding-top: 30px;
    margin-bottom: 0;

    .tab__content {
      padding-bottom: 0;
    }
  }
}
