.sunbsribe_about-txt {
  margin-left: -@pagePadLeft;
  margin-right: -@pagePadRight;
  .clearfix();
  .sunbsribe-wrap {
    .column(4);
  }
  .about-txt {
    .column(8);
  }
  h3 {
    margin-top: 0;
  }
}